<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>산술연산자</h2>
	<ul>
		<li>100+200 =><span th:text="100+200"></span></li>
		<li>100-3 =><span th:text="100-3"></span></li>
		<li>100*200 =><span th:text="100*200"></span></li>
		<li>100/3 =><span th:text="100/3"></span></li>
		<li>100%3==1 =><span th:text="100%3==1"></span></li>
		<li>100%3 =><span th:text="100%3"></span></li>
	</ul>
	<h2>비교연산자</h2>
	<ul>
		<li>100>200 =><span th:text="100>200"></span></li>
		<li>100 gt(lt) 200 =><span th:text="100 gt 200"></span></li>
		<li>100>=200 =><span th:text="100>=200"></span></li>
		<li>100 ge(le)200 =><span th:text="100 ge 200"></span></li>
		<li>100==100 =><span th:text="100==100"></span></li>
		<li>100!=100 =><span th:text="100!=100"></span></li>
	</ul>
</body>
</html>